{{define "footer"}}
<footer>
    <div>
        <small>Copyright &copy; GabTheBox 2023</small>
        <small>Gabriel Vega Menéndez</small>
    </div>

    <div>
        <a href="https://github.com/GabiVega362/GabTheBox/">GitHub</a>
        <a href="https://www.edu.xunta.gal/centros/iesteis/">IES de Teis</a>
    </div>
</footer>
</body>

</html>
{{end}}