{{define "footer"}}
        <div class="footer">
            <div class="footer-text">
            <h1>Gabriel Vega Menéndez</h1>
            <p>IES de Teis</p>
        </div>
        </div>
    </body>

    </html>

{{end}}