{{template "header" .}}

<main>
    <section class="highlight">
        <h1>¡Bienvenido a GabTheBox!</h1>
        <p>
            En esta emocionante aventura cibernética, te invitamos a sumergirte en el mundo de la seguridad informática y
            poner a prueba tus habilidades en una competencia desafiante. GabTheBox es el lugar perfecto para desarrollar
            tus conocimientos en hacking ético, resolver desafíos técnicos y disfrutar de la emoción del hacking ético.
        </p>
    </section>
    <section class="half">
        <div>
            <h2>¿Qué son los CTF?</h2>
            <p>
                Un <b>Capture The Flag</b> es una serie de retos diseñados para desafiar a participantes como tú a
                encontrar vulnerabilidades en sistemas informáticos, resolver rompecabezas criptográficos, descifrar códigos,
                explotar aplicaciones y mucho más.
            </p>
        </div>

        <div>
            <h2>¿Cómo funciona?</h2>
            <p>
                Esta plataforma está diseñada para proveer de manera segura un entorno de laboratorio para que los
                participantes puedan practicar sus habilidades de hacking ético. No hay desafíos como tal, sino que
                podrás elegir entre una variedad de contenedores que simulan escenarios de la vida real.
            </p>
        </div>
    </section>
</main>
<summary>
    <h2>¿Te animas?</h2>
    <p>
        ¡Prepárate para sumergirte en el emocionante mundo del hacking ético! Únete a nuestra plataforma y descubre todos los desafíos que tenemos para ti.
    </p>
    <p><b>¿Estás listo para explotar vulnerabilidades?</b></p>
    <br/>
    <p>Regístrate ahora y prepárate para una experiencia inolvidable. ¡Nos vemos en los laboratorios!</p>
</summary>

{{template "footer" .}}