{{template "header" .}}

<div class="index">
    <h1>¡Bienvenido a GabTheBox!</h1>
    <p> En esta emocionante aventura cibernética, te invitamos a sumergirte en el mundo de la seguridad informática y
        poner a prueba tus habilidades en una competencia desafiante. GabTheBox es el lugar perfecto para desarrollar
        tus conocimientos en hacking ético, resolver desafíos técnicos y disfrutar de la emoción del hacking ético.
        ¿Qué es un CTF? Un Capture The Flag es una competencia diseñada para desafiar a participantes como tú a
        encontrar vulnerabilidades en sistemas informáticos, resolver rompecabezas criptográficos, descifrar códigos,
        explotar aplicaciones y mucho más. En cada desafío, encontrarás una "bandera" escondida, que es un código o una
        cadena de texto única que debes descubrir. Al capturar una bandera, demostrarás tu dominio de la técnica y
        ganarás puntos valiosos.
    </p>
    <p> Nuestro CTF ofrece una plataforma segura y emocionante donde podrás competir contra otros hackers éticos,
        aprender nuevas técnicas, colaborar en equipo y enfrentar desafíos de la vida real. Tanto si eres un
        principiante entusiasta como un experto en seguridad, nuestro CTF tiene algo para todos. Nuestros desafíos están
        diseñados para adaptarse a diferentes niveles de habilidad, lo que significa que siempre habrá algo nuevo por
        descubrir y aprender.
    </p>
    <p> Además de la competencia en sí, nuestro CTF fomenta la comunidad y el intercambio de conocimientos. Podrás
        interactuar con otros participantes, colaborar en desafíos grupales y asistir a charlas y talleres impartidos
        por expertos en seguridad informática. Este es el lugar perfecto para hacer crecer tu red profesional y
        establecer contactos valiosos en la industria.
    </p>
    <p> La seguridad informática es una disciplina en constante evolución, por lo que te ofrecemos un CTF actualizado y
        desafiante que refleja las últimas tendencias y técnicas utilizadas en el campo. Nuestro equipo de expertos en
        seguridad ha seleccionado cuidadosamente los desafíos para ofrecerte una experiencia única y emocionante que te
        mantendrá alerta y motivado en todo momento.
    </p>
    <p> ¡Prepárate para sumergirte en el emocionante mundo del hacking ético! Únete a nuestro CTF y descubre el desafío,
        el aprendizaje y la camaradería que te esperan. ¿Estás listo para capturar la bandera?

        Regístrate ahora y prepárate para una experiencia inolvidable en nuestro CTF. ¡Nos vemos en la competencia!
    </p>
</div>

{{template "footer" .}}