{{template "header" .}}

<div class="cards">

    {{ range .Labs}}
    <div class="card">
        <div class="title">
            <h2>{{ .Title }}</h2>
        </div>
        <div class="description">
            <p>{{ .Image }}</p>
        </div>

        <form action="./lab" method="POST">
            <input type="hidden" name="lab" value="{{ .UUID }}">
            {{ if ne .Port 0 }}
            <p>You can access de lab at <a href="http://{{ $.Host }}:{{ .Port }}/">
                http://{{ $.Host }}:{{ .Port }}/</a>
            </p>
                <input class="button up" type="submit" name="action" value="Stop">
            {{ else }}
                <input class="button" type="submit" name="action" value="Start">
            {{ end }}
        </form>
    </div>
    {{ end }}

</div>


{{template "footer" .}}