{{template "header" .}}

{{ define "card" }}
    <div class="card">
        <div class="title">
            <h2>{{ .Title }}</h2>
        </div>
        <div class="description">
            <p>{{ .Image }}</p>
        </div>

        <form action="./lab" method="POST">
            <input type="hidden" name="lab" value="{{ .UUID }}">
            {{ if ne .Port 0 }}
                <input class="button up" type="submit" name="action" value="Stop">
            {{ else }}
                <input class="button" type="submit" name="action" value="Start">
            {{ end }}
        </form>
    </div>
    {{ end }}

<div class="cards">

    {{ range .Labs}}
    {{ template "card" .}}
    {{ end }}

</div>


{{template "footer" .}}