{{template "header" .}}
    <div class="form">
        <div class="login">
            <h1>Welcome back!</h1>
            <form action="./login" method="POST">
                <div class="field-wrap">
                    <input type="text" name="user" placeholder="Username" />
                </div>
                <div class="field-wrap">
                    <input type="password" name="password" placeholder="Password" />
                </div>
                <input class="button" type="submit" value="Login" />
            </form>
        </div>
    </div>
{{template "footer" .}}