{{template "header" .}}
<div class="content">
    <summary class="highlight">
        <h2>Registrarse</h2>
        <h4>¡Estamos encantados de verte por aquí!</h4>
    </summary>

    <form action="/register" method="POST">
        <div class="form-group">
            <label for="username">Usuario</label>
            <input required type="text" name="user" id="username" autofocus placeholder="GabiVega" />
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input required type="email" name="email" id="email" placeholder="gabthebox@example.com" />
        </div>

        <div class="form-group">
            <label for="password">Contraseña</label>
            <input required type="password" name="pass" id="password" autocomplete="false" />
        </div>

        <div class="form-group">
            <input class="button" type="submit" value="Registrarse" />
        </div>
    </form>
</div>
{{template "footer" .}}