{{template "header" .}}

<div class="form">
    <div class="login">
        <h1>Sign up for free</h1>
        <form action="./register" method="POST">
            <div class="field-wrap">
                <input type="text" required name="user" placeholder="Username" />
            </div>
            <div class="field-wrap">
                <input type="email" required name="email" placeholder="Email" />
            </div>
            <div class="field-wrap">
                <input type="password" required name="pass" placeholder="Password" />
                <input type="password" required name="confirm" placeholder="Confirm Password" />
            </div>

            <input class="button" type="submit" value="Register">
        </form>
    </div>
</div>

{{template "footer" .}}